.github-fork-ribbon.right-bottom:before {
  background-color: #666;
}

.ui.statistic.block_number > .value {
  font-size: 2.4rem !important;
  line-height: 4rem !important;
}

body{
  background-color: #1B1B1B !important;
  color: #fff !important;
}